HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Arquivos de Log e Sistema ###
*.log
*.err
.DS_Store
Thumbs.db

### Uploads Locais de Arquivos ###
uploads/

### Arquivos de Configuração com Credenciais ###
.env
application-local.properties

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
frontend/.github/workflows/playwright.yml
frontend/playwright.config.ts
frontend/e2e/cospa-fluxo.spec.ts
